$dot-color: #20aa97;
$gray-color: #585858;

@font-face{
	font-family: 'ProximaNovaExtraBold';
    src: url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.eot');
	src: url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.eot?iefix') format('eot'),url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.woff') format('woff'),
	url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.ttf') format('truetype'),url('../fonts/ProximaNovaExtraBold/proximanova-extrabold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face{
	font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold/proximanova-bold.eot');
	src: url('../fonts/ProximaNovaBold/proximanova-bold.eot?iefix') format('eot'),url('../fonts/ProximaNovaBold/proximanova-bold.woff') format('woff'),
	url('../fonts/ProximaNovaBold/proximanova-bold.ttf') format('truetype'),url('../fonts/ProximaNovaBold/proximanova-bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face{
	font-family: 'ProximaNovaSemiBold';
    src: url('../fonts/ProximaNovaSemiBold/proximanova-semibold.eot');
	src: url('../fonts/ProximaNovaSemiBold/proximanova-semibold.eot?iefix') format('eot'),url('../fonts/ProximaNovaSemiBold/proximanova-semibold.woff') format('woff'),
	url('../fonts/ProximaNovaSemiBold/proximanova-semibold.ttf') format('truetype'),url('../fonts/ProximaNovaSemiBold/proximanova-semibold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}



body{
	width: 100%;
	margin: 0;
	font-family: 'ProximaNovaSemiBold';
	background: #ffffff;
	min-width: 320px;
}
header{
	margin: 13px 184px 0 184px;
}
.logo{
	display: inline-flex;
    align-items: center;
    max-width: 100px;
}
.logo img{
	margin-right: 12px;
	line-height: 22px;
}
.logo p{
	display: inline-block;
	font-family: 'ProximaNovaExtraBold';
	font-size: 20px;
}
.logo .dot{
	font-size: 30px;
}
.nav-bar{
	display: flex;
	flex-wrap: nowrap;
	float: right;
	justify-content: space-between;
	min-width: 756px;
	margin: 32px -88px 0 0;
}
.nav-bar :nth-child(2) {
	color: #20aa97;
}
.nav-bar :nth-child(2)::before{
	margin: -7px 0 0 0;
	content: "";
	position: absolute;
	width: 15px;
	height: 2px;
	background: #000000;
}
.nav-bar div{
	font-family: 'ProximaNovaExtraBold';
	font-size: 16px;
	cursor: pointer;
}
.nav-bar .dot{
	font-size: 24px;
}

.circle {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 30vw;
	height: 30vw;
	pointer-events: none;
}

.circle div{
	top: -1vw;
	right: 0;
	margin-right: -10vw;
	position: absolute;
	background: $dot-color;
	opacity: 0.1;
	width: 21vw;
	height: 21vw;
	border-radius: 50%;
}

.hamburger{
	display: none;
	width: 16px;
	height: 2px;
	background: $gray-color;
	float: right;
	margin: 31px 21px;
	position: relative;
}
.hamburger::before{
	width: 18px;
	height: 2px;
	background: $gray-color;
	float: right;
	margin: -5px 0;
	content: "";
}
.hamburger::after{
	width: 18px;
	height: 2px;
	background: $gray-color;
	float: right;
	margin: 6px -1px;
	content: "";
}
.appearing-block{
	opacity: 0;
	transition: all ease-in-out 1s;
}




/*          section1              */
.service-header{
	min-width: 300px;
	font-family: 'ProximaNovaExtraBold';
	font-size: 67px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}
.service-header h1{
	margin: 115px 0 90px 0;
	/*letter-spacing: -1px;*/
}
.service-header .dot{
	font-size: 100px;
	color: $dot-color;
}
.service-header p{
	margin: 0;
	font-size: 20px;
	color: $gray-color;
	text-align: center;
	line-height: 36px;
}
.service-content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.element-header, .service-element span{
	font-family: 'ProximaNovaExtraBold';
	font-size: 20px;
	font-weight: 600;
}
.service-element{
	flex-grow: 1;
    flex-basis: 0;
	justify-content: center;
    /*min-width: 251px;*/
    max-width: 255px;
    text-align: center;
    padding-top: 106px;
    color: $gray-color;
}
.service-element img{
	padding-bottom: 48px;
}
.service-element:hover img{
	cursor: pointer;
	transform: rotateY(-360deg);
	transition: 1s;
}
.service-element p{
	font-family: 'ProximaNovaSemiBold';
	margin: 0;
	font-size: 18px;
}
.service-element span{
	color: #000000;
	font-family: 'ProximaNovaExtraBold';
	font-size: 20px;
}






/*            section2        */
.offer-header{
	font-family: 'ProximaNovaExtraBold';
	font-size: 40px;
	letter-spacing: -0.6px;
	line-height: 28px;
	text-align: center;
	margin: 109px 0 83px 0;
}
.offer-header .dot{
	color: $dot-color;
	font-size: 60px;
}
.offer-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1180px;
	left: calc(50% - 590px);
	position: relative;
}
.offer{
	min-width: 300px;
	max-width: 526px;
	flex-grow: 1;
	color: $gray-color;
	margin: 25px 0 29px 0;
}
.offer .element-img{
	width: 107px;
	height: 107px;
	border-radius: 50%;
	background: #fdfdfd;
	margin-bottom: 38px;
}
.offer .element-img img{
	margin: 26%;
}
.element-header{
	color: #000000;
}
.offer p{
	margin:0;
	line-height: 28px;
}



/*      footer       */
footer{
	margin-top: 97px;
	background: black;
	color: #ffffff;
	font-family: 'ProximaNovaSemiBold';
	font-size: 13px;
	text-align: center;
}
footer .content{
	padding: 56px 0 51px 0;
}
footer p{
	margin: 0;
}
footer span{
	color: $dot-color;
}






/*   media   */
@media all and (min-width: 1500px){
	.content{
		width: 1500px;
		position: relative;
		left: calc(50% - 750px);
	}
	.service-element{
		min-width: 270px;
	}
}





@media all and (max-width: 1500px){
	.content{
		width: 1280px;
		position: relative;
		left: calc(50% - 640px);
	}
	.service-element{
		min-width: 251px;
	}
}





@media all and (max-width: 1280px){
	.content{
		width: 100%;
		min-width: 320px;
		position: relative;
		left: 0;
	}
	header{
		max-width: 100%;
		margin: -8px 20px 0px 38px;
	}
	.logo img{
		width: 44px;
	}
	.logo p{
		line-height: 18px;
		font-size: 16px;
	}
	.nav-bar{
		display: none;
	}
	.circle div{
		top: -12vw;
	    margin-right: -5vw;
	    width: 30vw;
	    height: 30vw;
	    opacity: 0.07;
	}
	.hamburger{
		display: block;
		margin: 39px 21px;
	}
	section{
		width: 100vw !important;
	}
	.service-header h1{
		margin: 55px 0 39px 4px;
	}
	.service-header{
		font-size: 48px;
		margin-bottom: 0;
		letter-spacing: -1px;
	}
	.service-header p{
		margin-left: calc(50% - 281px);
		max-width: 542px;
		line-height: 31px;
		letter-spacing: -1px;
		font-family: 'ProximaNovaSemiBold';
	}
	.service-header .dot{
		font-size: 71px;
	}
	.service-content{
		justify-content: space-around;
	}
	.service-element{
		padding-top: 65px;
		min-width: 260px;
		max-width: 353px;
		font-family: 'ProximaNovaSemiBold';
		font-size: 18px;
	}
	.service-element img{
		padding-bottom: 19px;
	}
	.service-element span{
		font-family: 'ProximaNovaExtraBold';
	}
	.offer-header{
		margin-bottom: 70px;
		margin-top: 112px;
	}
	.offer-content{
		min-width: 450px;
		max-width: 700px;
		position: relative;
		left: calc(50% - 320px);
	}
	.offer{
		margin: -12px 0px 70px 27px;
	}
	.offer .element-img{
		margin-bottom: 35px;
	}
	.offer .element-header{
		font-size: 20px;
	}
	.offer p{
		font-size: 18px;
		line-height: 22px;
	}
	footer{
		margin-top: 0;
		/*max-width: 70vw;*/
	}
}






@media all and (max-width: 450px) and (min-width: 320px){
	header{
		margin: 0 0 10px 0;
	}
	.logo{
		margin-left: 11px;
	}
	.logo img{
		width: 45px;
		margin-right: 9px;
	}
	.logo p{
		line-height: 13px;
		font-size: 15px;
	}
	.circle div{
		top: -12vw;
	    margin-right: -15vw;
	    width: 35vw;
	    height: 35vw;
	    opacity: 0.07;
	}
	.hamburger{
		display: block;
		margin: 23px 19px 39px 23px;

	}
	.hamburger::before{
		margin: -5px -2px;
	}
	.hamburger::after{
		margin: 5px -2px;
	}
	.service-element{
		line-height: 24px;
		min-width: 152px;
		max-width: 155px;
		padding-top: 28px;
		padding-bottom: 7px;
	}
	.service-header h1{
		text-align: left;
		font-size: 57px;
		letter-spacing: -1px;
		margin: 60px 0 29px 23px;
	}
	.service-header .dot{
		font-size: 57px;
	}
	.after-header{
		padding-bottom: 30px;
	}
	.service-header p{
		font-size: 16px;
		line-height: 31px;
		text-align: left;
		margin-left: 25px;
	}
	.service-element p{
		margin: 0;
		/*font-size: 15px;*/
	}
	.service-element span{
		font-size: 16px;
	}
	.service-element img {
    	padding-bottom: 19px;
	}
	.offer-header{
	    font-size: 31px;
	    letter-spacing: -1px;
	    line-height: 31px;
	    text-align: left;
	    margin: 98px 0px 16px 25px;
	}
	.offer-header .dot{
		font-size: 46px;
	}
	.offer{
		min-width: 280px;
	}
	.offer .element-header{
		line-height: 28px;
	}
	.offer p{
		line-height: 23px;
	}
	.offer-content{
		min-width: 280px;
		max-width: 320px;
		left: calc(50% - 180px);
	    font-size: 18px;
	    letter-spacing: -1px;
	    text-align: left;
	}
	
}



