body{
  margin: 0;
  padding: 0;
  background-color: white;
  min-width: 1280px;
}

.font-face(@family, @url, @weight, @style){
  font-family: @family;
  src: url(@url);
  font-weight: @weight;
  font-style: @style;
}

@font-face {
  .font-face('GothamProReg', './Gotham Pro/GothaProReg.otf', normal, normal);
}

@font-face {
  .font-face('GothamProBold','./Gotham Pro/GothaProBol.otf', bold, normal);
}

@font-face {
  .font-face('GothamProIta','./Gotham Pro/GothaProIta.otf', normal, italic);
}

@font-face {
  .font-face('GothamProMed','./Gotham Pro/GothaProMed.otf', normal, medium);
}



//min-width: 1280px;

section{
  width: 100%;
  position: relative;
}

.content{
  width: 1280px;
  position: relative;
  left: calc(~"50% - 640px");
}

#main-section {
  height: 913px;
  background: url("./images/main-section-back.png") no-repeat center top;
  color: #47b596;
}

.header{
  position: absolute;
  width: 440px;
  height: 45px;
  right: 194px;
}

.registration{
  position: absolute;
  width: 150px;
  height: 25px;
  top: 10px;
  left: 52px;
  padding: 0;
  border: none;
  color: #47b596;
  background-color: transparent;
  font-family: 'GothamProMed', Arial, sans-serif;
  line-height: 16.67px;
  font-size: 17px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:before{
    position: absolute;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    top: 7px;
    left: -7px;
    border: 2px solid  #47b596;
    content: "";
  }
  &::after{
    position: absolute;
    top: -10px;
    right: -20px;
    background: url("./images/button-border.png");
    width: 222px;
    height: 45px;
    content: "";
  }
}


.login{
  position: absolute;
  width: 150px;
  height: 25px;
  top: 10px;
  left: 70px;
  border: none;
  color: #47b596;
  background-color: transparent;
  transform: translateX(203px);
  font-family: 'GothamProMed', Arial, sans-serif;
  line-height: 16.67px;
  font-size: 17px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &::before{
    position: absolute;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    top: 7px;
    left: -27px;
    border: 2px solid  #47b596;
    content: "";
  }
  &::after{
    position: absolute;
    top: -10px;
    right: -17px;
    background: url("./images/button-border.png");
    transform: rotateY(180deg);
    width: 222px;
    height: 45px;
    content: "";
  }
}

.nav-bar{
  position: absolute;
  top: 65px;
  left: 44px;
  width: 973px;
  img{
    width: 173px;
    height: 142px;
  }
}


.main-page-nav{
  position: absolute;
  top: 35px;
  right: 0;
  list-style-type: none;
  display: inline-block;
  font-family: 'GothamProBold', Arial, sans-serif;
  line-height: 16.67px;
  font-size: 17px;
  li{
    display: inline-block;
    margin-left: 50px;
  }
}

.subheader{
  position: absolute;
  top: 361px;
  left: 40px;
}

.h1{
  position: absolute;
  top: 73px;
  width: 595px;
  font-family: 'GothamProBold', Arial, sans-serif;
  line-height: 30.93px;
  font-size: 31px;
}

.subheader p{
  position: absolute;
  top: 135px;
  width: 415px;
  font-family: 'GothamProReg', Arial, sans-serif;
  line-height: 17.41px;
  font-size: 17px;
}

.more-info{
  position: absolute;
  padding: 0;
  width: 230px;
  height: 60px;
  top: 257px;
  left: 17px;
  border: none;
  color: #47b596;
  background-color: transparent;
  font-family: 'GothamProMed', Arial, sans-serif;
  line-height: 16.66px;
  font-size: 17px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &::before{
    position: absolute;
    background: url("./images/more-info-bttn-back.png");
    content: "";
    width: 247px;
    height: 68px;
    top: -3px;
    left: -17px;
  }
}

.section-brake1{
  position: absolute;
  bottom: -6px;

}

#video-and-targets{
  height: 1290px;
  width: 100%;
  background: no-repeat url(./images/section3-bacround.png) center -50px;
}

.video-block{
  position: absolute;
  padding: 0;
  width: 100%;
  height: 485px;
  display: inline-block;
  list-style-type: none;
  top: 83px;
  //left: 1px;
  p{
    width: 392px;
    color: #1a1a18;
  }
}

.video-info{
  position: absolute;
  display: inline-block;
  font-family: 'GothamProReg', Arial, sans-serif;
  line-height: 18px;
  font-weight: 400;
  font-size: 17px;
}

.video{
  display: inline-block;
  position: absolute;
  right: -1px;
  top: -196px;
  height: 480px;
  width: 760px;
  background: url("./images/video.png") no-repeat;
}

.save-pdf{
  position: absolute;
  top: 182px;
}

.save-whitepaper{
  position: absolute;
  padding: 0;
  width: 274px;
  height: 58px;
  top: 172px;
  left: 18px;
  border: none;
  color: #00a694;
  background-color: transparent;
  font-family: 'GothamProBold', Arial, sans-serif;
  line-height: 16.66px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &::before{
    position: absolute;
    top: 2px;
    left: 57px;
    background: url("./images/save-back.png") no-repeat;
    width: 213px;
    height: 58px;
    content: "";
  }
}


.section-brake2{
  position: absolute;
  top: 456px;
  width: 100%;
  .brake2{
    width: 100%;
  }
}

.targets-header{
  position: absolute;
  top: 535px;
  left: 330px;
  width: 555px;
  margin: 0;
  height: 35px;
  display: inline-block;
}

.left-fork{
  position: absolute;
  top: 7px;
  left: 30px;
  display: inline-block;
}

.targets{
  position: absolute;
  display: inline-block;
  margin: 0;
  left: 170px;
  font-family: 'GothamProBold', Arial, sans-serif;
  line-height: 33.33px;
  font-weight: 700;
  font-size: 33px;
  color: #00a694;
  padding-left: 28px;
  padding-right: 28px;
}

.right-fork{
  position: absolute;
  right: -30px;
  top: 7px;
  display: inline-block;
  transform: rotateY(180deg);
}

.target-schema{
  position: absolute;
  top: 740px;
  left: 86px;
  width: 1100px;
  height: 400px;
}

.logo-img{
  position: absolute;
  top: 60px;
  left: 82px;
}

.targets-list{
  position: absolute;
  width: 995px;
  height: 400px;
  display: block;
  list-style-type: none;
  li{
    font-family: 'GothamProBold', Arial, sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #007157;
  }
}

.target(@top,@left){
  position: absolute;
  top: @top;
  left: @left;
}

.h4(@top,@left, @width){
  position: absolute;
  top: @top;
  left: @left;
  width: @width;
}

.target1{
  .target(110px, 48px);
  h4{
    .h4(6px, 60px, 293px);
  }
}

.target2{
  .target(22px, 321px);
  h4{
    .h4(-44px, 58px, 275px);
  }
}

.target3{
  .target(90px, 880px);
  h4{
    .h4(-63px, -95px, 265px);
  }
}

.target4{
  .target(321px, 253px);
  h4{
    .h4(-14px, -309px, 293px);
    text-align: right;
  }
}

.target5{
  .target(349px, 771px);
  h4{
    .h4(-37px, 75px, 216px);
  }
}

#news{
  height: 820px;
  width: 100%;
  background: url("./images/section4-background.jpg") no-repeat;
  h2{
    position: absolute;
    top: 110px;
    left: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'GothamProBold', Arial, sans-serif;
    font-weight: 700;
    font-size: 29px;
    line-height: 29.17px;
  }
}

#news .right-fork{
  position: absolute;
  top: 116px;
  left: 333px;
}

.section-brake3{
  position: absolute;
  top: -5px;
  right: 0;
}

.news-wrapper{
  position: absolute;
  top: 197px;
  left: 0;
  width: 100%;
}

.webinar{
  position: absolute;
  top: 0;
  left: 0;
  width: 411px;
  height: 411px;
  background: url("./images/webinar.jpg");
}

.webinar-wrapper{
  position: absolute;
  top: 61px;
  left: 61px;
  width: 289px;
  height: 289px;
  background: rgba(255, 255, 255, 0.8);
}

.webinar .news-caption{
  position: absolute;
  width: 136px;
  height: 19px;
  top: -13px;
  left: 77px;
  margin: 0;
  padding-top: 8px;
  text-align: center;
  font-family: 'GothamProBold', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 13.75px;
  color: #ffffff;
  background: linear-gradient(115deg, transparent 9%, #00be94 10%, #00be94 90%,transparent 91%);
}

.webinar h3{
  font-family: 'GothamProBold', Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #575656;
  position: absolute;
  top: 60px;
  left: 10px;
  text-align: center;
}

.webinar .date{
  font-family: 'GothamProReg', Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 16.67px;
  color: #575656;
  position: absolute;
  top: 145px;
  left: 102px;
  text-align: center;
}

.webinar .news-footer{
  font-family: 'GothamProReg', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15.22px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 29px;
  text-align: center;
  background: #00be94;
  p{
    position: absolute;
    top: 7px;
    left: 22px;
    margin: 0;
    padding: 0;
  }
}

.actual{
  position: absolute;
  top: 0;
  left: 445px;
  background: url("./images/actual.jpg");
  width: 411px;
  height: 188px;
}

.actual .news-caption, .important .news-caption{
  position: absolute;
  top: 14px;
  left: 0;
  padding-top: 8px;
  padding-left: 15px;
  height: 19px;
  font-family: 'GothamProBold', Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 13.75px;
  color: #ffffff;
  margin: 0;
}

.actual .news-caption {
  width: 112px;
  background: linear-gradient(115deg, #00be94 90%, transparent 91%);
}

.actual::after{
  position: absolute;
  width: 33px;
  height: 39px;
  bottom: -5px;
  right: 3px;
  content: "";
  background: linear-gradient(130deg, transparent 50%, #00d5b5 51%);
}

.important .news-caption {
  width: 75px;
  background: linear-gradient(115deg, #00be94 85%, transparent 87%);
}

.important::after{
  position: absolute;
  width: 33px;
  height: 39px;
  bottom: -5px;
  right: 3px;
  content: "";
  background: linear-gradient(130deg, transparent 50%, #00d5b5 51%);
}

.actual .date, .important .date{
  font-family: 'GothamProReg', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12.5px;
  color: #c4e3e2;
  position: absolute;
  top: 85px;
  left: 15px;
  text-align: center;
}

.actual .news-header, .important .news-header{
  font-family: 'GothamProBold', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 19.17px;
  color: #ffffff;
  position: absolute;
  width: 325px;
  top: 100px;
  left: 15px;
}

.important{
  position: absolute;
  top: 222px;
  left: 445px;
  background: url("./images/important.jpg");
  width: 411px;
  height: 189px;
}

.last-news-block{
  position: absolute;
  top: 0;
  left: 900px;
}

.last-news-block ul{
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 320px;
  height: 404px;
}

.last-news-block h3{
  position: absolute;
  top: 0;
  margin: 0;
  font-family: 'GothamProReg', Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #04ac8a;
}

.last-news-block .h3{
  height: 1px;
}

.last-news-block li{
  padding-top: 32px;
}

.last-news-block .news-header{
  font-family: 'GothamProReg', Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18.75px;
  color: #ffffff;
  width: 318px;
  margin-top: 8px;
  margin-bottom: 0;
}

.last-news-block .date{
  font-family: 'GothamProReg', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12.5px;
  color: #ffffff;
  width: 64px;
  height: 10px;
  background: #00be94;
  padding: 6px 10px;
  margin: 0;
}

.last-news-block a{
  color: #04ac8a;
  font-family: 'GothamProBold', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16.67px;
  height: 10px;
  display: block;
  margin-top: 10px;
}

.section-brake4{
  position: absolute;
  bottom: -109px;
  width: 100%;
}

.iceberg-brake-line{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#last-projects{
  height: 450px;
  width: 100%;
}

.last-projects-header{
  position: absolute;
  top: 73px;
  left: 239px;
  width: 740px;
  margin: 0;
  height: 35px;
  display: inline-block;
}

.last-projects-header h2{
  position: absolute;
  display: inline-block;
  margin: 0;
  left: 170px;
  font-family: 'GothamProBold', Arial, sans-serif;
  line-height: 33.33px;
  font-weight: 700;
  font-size: 33px;
  color: #00a694;
  padding-left: 28px;
  padding-right: 28px;
}

.projects{
  position: absolute;
  top: 185px;
  left: 0;
  width: 100%;
  height: 92px;
}

.section5-brake-line{
  position: absolute;
  bottom: -34px;
}

#main-footer{
  height: 458px;
  width: 100%;
  background: url("./images/footer-back.png") no-repeat;
}

.info{
  position: absolute;
  left: 574px;
  top: 103px;
  p {
    font-family: 'GothamProMed', Arial, sans-serif;
    line-height: 26.75px;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    display: inline-block;
    margin-top: 0;
  }
}

.footer-img{
  display: inline-block;
  margin-left: 10px;
}

.footer-nav{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info li p{
  font-family: 'GothamProReg', Arial, sans-serif;
  line-height: 32.08px;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  margin: 0;
}

.questions{
  position: absolute;
  left: 829px;
  top: 103px;
  p {
    font-family: 'GothamProMed', Arial, sans-serif;
    line-height: 26.75px;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    display: inline-block;
    margin-top: 0;
  }
}

.input{
  background: transparent;
  border: none;
  position: absolute;
  width: 180px;
  height: 36px;
  display: inline-block;
  margin-left: 10px;
}

p.input{
  &::after{
    position: absolute;
    top: 2px;
    left: -10px;
    background: url("./images/input-back.png");
    width: 190px;
    height: 37px;
    content: "";
    display: block;
  }
}

.input2{
  background: transparent;
  border: 2px solid #ffffff;
  position: absolute;
  width: 180px;
  height: 29px;
  top: 46px;
  left: 195px;
  display: inline-block;
}

.questions textarea{
  background: transparent;
  border: none;
  position: absolute;
  width: 388px;
  height: 85px;
  top: 85px;
  display: inline-block;
}

p.textarea{
  background: url("./images/textarea-back.png");
  position: absolute;
  width: 393px;
  height: 90px;
  top: 85px;
}

input[type=submit]{
  background: url("./images/bttn-submit.png");
  border: none;
  position: absolute;
  top: 188px;
  width: 190px;
  height: 38px;
  padding-left: 30px;
  font-family: 'GothamProBold', Arial, sans-serif;
  line-height: 14.58px;
  font-weight: 700;
  font-size: 15px;
  color: #22988a;
}

.basement{
  position: absolute;
  width: 100%;
  top: 399px;
  display: inline-block;
}

.basement p{
  position: absolute;
  width: 700px;
  left: 1px;
  margin: 0;
  top: 23px;
  color: #ffffff;
  font-family: 'GothamProReg', Arial, sans-serif;
  line-height: 14.58px;
  font-weight: 400;
  font-size: 15px;
}

.facebook{
  position: absolute;
  right: 152px;
  top: 12px;
}

.tweeter{
  position: absolute;
  right: 93px;
  top: 15px;
}

.google{
  position: absolute;
  right: 42px;
  top: 15px;
}

.youtube{
  position: absolute;
  right: 1px;
  top: 14px;
}
